doctype html
html(lang="en/ca")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="public/favicon.ico")
        title= title
        link(rel="stylesheet", href="public/style.css")
    body
        label(for="portselect", class="selectlabel")= "Pick your port"
        select(name="ports", id="portselect", class="dropdown")
        h1(class="heading")= "A record"
        div(class="tablet", id="thetablet")
        button(class="proposal", type="button", id="speakbtn")= "Proclame."
        h1(class="heading")= "Ports Known"
        div(class="tablet", id="islandslist")
        h1(class="heading")= "Words Known"
        div(class="tablet", id="dictionary")
        script(type="text/javascript", src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js")
        script(src="https://unpkg.com/socket.io-client@4.5.0/dist/socket.io.min.js")
        script(type="text/javascript", src="public/index.js", defer)